body{
    margin: 0;
    padding: 0;
    font-family: Montserrat, Bold;
    
}

header{
    background-color: #386970;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo img{
    width: 150px;
    height: auto;
    margin: 10px;
}


